<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <th>Action</th>
            <th>Name</th>
            <th>Id</th>
            <th>Phone</th>
            <th>Email</th>
        </thead>
        <tr ng-repeat="user in usersCtrl.users">
            <td>
                <a ui-sref=".account-management({ userID:user.id })"
                   class="btn btn-default">Manage Accounts</a>
            </td>
            <td>{{user.name}}</td>
            <td>{{user.id}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
        </tr>
    </table>
</div>

<div ui-view></div>